{% from '/macros/job-card.html' import jobCard %}

# This creates a list that is looping inside the job_list
# Renders a list of all jobs
{% macro jobList(data) %}
    <ul>
        {% for entry in data %}
            <li>
                {{ jobCard(entry) }}
                <form method = "post" action = "/saved_job">
                    <input type="hidden" value="{{entry.jobId}}" name="JobID">
                <button type="submit" class="btn btn-outline-success" >Save Job</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}
