{%extends 'main.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <h1>~ Welcome to our CFG job search engine~</h1>
    <h2> Have fun!</h2>
    <div>
        <a role="button" href="/jobengine" class="btn btn-outline-success">Job Engine</a>
      <a role="button" href="/login" class="btn btn-outline-warning">Log in</a>
      <a role="button" href="/signup" class="btn btn-outline-warning">Sign up</a>
    </div>
</div>
{% endblock%}