{%extends 'main.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<body>
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <section id="home">
    <section id="left-home">
    <h1> <b>Ready to enter into the world of tech?</b></h1>

    </section>
      <section id="right-home">
      <img id='home_img' src ="{{ url_for ('static', filename = 'home-page-img.png') }}"/>
        <div id = 'home-buttons'>
          <a href="/login"><button  class="home-btn"> Login </button></a>
          <a href="/signup"><button class="home-btn"> Sign up </button></a>
          <a href="/jobengine"><button  class="home-btn"> View jobs </button></a>
        </div>
      </section>
    </section>
   </div>
</body>
{% endblock%}