{%extends 'main.html' %}
{% block title %} Job Board{% endblock %}
{% block body %}

<div class="container ghost-box d-flex flex-column justify-content-center align-items-center">
    <h1>Choose your view</h1>
    <div id="search-options">
        <div class="searches" id="search-left">
            <h5>View all jobs in our database.</h5>
            <a role="button" href="/jobs"> <button class="action_button form-submission">View all</button></a>
        </div>
        <div class="searches" id="search-right">
            <h5>Filter jobs based on your preferences</h5>
            <a role="button" href="/jobsearch"><button class="action_button form-submission">Filter </button></a>
        </div>
    </div>
</div>
{% endblock%}