{% extends 'main.html' %}
{% block title %}JobResult{% endblock %}
{% block body %}

<!--class="h-100 bg-dark text-light d-flex flex-column justify-content-center align-items-center"-->

<main>
    <h1 class=" text-light text-capitalize">Our Results</h1>

    <ul>
        {% for entry in job_list %}
            <li>
                <address>Location: {{ entry.city }}</address>
                <h3>
                    <a href="{{ entry.link }}">
                        Title: {{ entry.job_title }}
                    </a>
                </h3>
                <p>Company: {{ entry.employer_name }}</p>
                <p>Expiration Date: {{ entry.exp_date }}</p>
                <p>Job Description: {{ entry.description }}</p>
            </li>
        {% endfor %}
    </ul>

    <a href="/" class="btn btn-outline-light">
        Return to home
    </a>

</main>
{% endblock %}