{% extends 'main.html' %}
{% block title %}Login{% endblock %}
{% block body %}
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <form method="post" class="text-center">
      <h1>Let's Log in</h1>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-outline-success">Login</button>
    </form>
  </div>
{% endblock %}