{% extends 'main.html' %}
{% block title %}Login{% endblock %}
{% block body %}
  <div class="container ghost-box d-flex flex-column justify-content-center align-items-center">
    <form class='web-form' method="post" class="text-center">
      <h2>Let's Log in</h2>
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input placeholder="Please enter username" type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" placeholder="Please enter password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="action_button form-submission" >Login</button>
    </form>
  </div>
{% endblock %}