{% extends 'main.html' %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center"> Welcome,amazing you</h1>
    <h2 class="text-center"> Hi, {{user.first_name}}</h2>

    {% if data[0] %}
    <table>
      <tr>
        {% for key, _ in data[0].items() %}
          {% if key != 'jobID' %}
            <th>{{ key }}</th>
          {% endif %}
        {% endfor %}
      </tr>
        {% for row in data %}
        <tr>
          {% for key, value in row.items() %}
          {% if key == 'Link to Apply' %}
            <td>
              <form method = "post" action ="/have_i_applied_for_this_job">
                <input type="hidden" value="{{ value }}" name="link">
                <input type="hidden" value="{{ row['jobID'] }}" name="jobID">
                <button type="submit" class="btn btn-outline-info">Apply for Job</button>
            </form>
            </td>
          {% elif key == 'Have I applied for this job?' %}
             <td>{{ 'Yes' if value else 'No' }}</td>
          {% elif key != 'jobID' %}
             <td>{{ value }}</td>
          {% endif %}

          {% endfor %}
      </tr>
        {% endfor %}
    </table>
     {% endif %}

    <form action="/logout" method="post">
      <button type="submit" class="btn btn-outline-info">Logout</button>
      {% with error_messages = get_flashed_messages(category_filter=['error']) %}
        {% if error_messages %}
          <p class="text-danger mt-3">{{ error_messages|join(' • ') }}</p>
        {% endif %}
      {% endwith %}
      {% with info_messages = get_flashed_messages(category_filter=['info']) %}
        {% if info_messages %}
          <p class="text-success mt-3">{{ info_messages|join(' • ') }}</p>
        {% endif %}
      {% endwith %}
      <a role="button" href="/jobs" class="btn btn-outline-info">Back to Jobs Full List</a>
      <a role="button" href="/jobsearch" class="btn btn-outline-info">Back to Jobs Use Filters</a>
      <a role="button" href="/" class="btn btn-outline-info">Home</a>
    </form>
  </div>
{% endblock %}

